.release-date {
 max-width: fit-content;
 background-color: #fff !important;
 color: #000 !important;
 padding: 0.15rem;
}

.platform-emblem {
 max-width: 30px;
 background-color: #fff !important;
}

.mainImage,
.imageCarousel {
 width: fit-content;
 max-width: 570px;
}

.videoCarousel {
 width: 100%;
}

.videoController {
 width: 100%;
}

.gameIcon {
 max-width: 40px;
}

.rawgImage {
 max-width: 750px;
}

@media only screen and (max-width: 600px) {
 .mainImage,
 .imageCarousel {
  max-width: 320px;
 }
}
